#body {
    background-color: rgb(64, 93, 134);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(11, 21, 29);
}

#header {
    text-align: center;
    
}

button {
    cursor: pointer;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 30px;
}


#hand {
    height: 300px;
    width: 380px;
    margin: 100px;
    border-radius: 15px;
}

#robot {
    height: 300px;
    width: 400px;
    margin: 100px;
    border-radius: 15px;
}

